<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>결재문서 상세페이지</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><i class="fa fa-edit fa-fw"></i> 기안하기</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9"></div>
            <div class="col-lg-1">
                <button class="btn btn-outline btn-primary" onclick="fn_tempSubmit()">임시저장</button>
            </div>
            <div class="col-lg-1">
                <button class="btn btn-outline btn-primary" onclick="fn_formSubmit()">결재상신</button>
            </div>
            <div class="col-lg-1">
                <button class="btn btn-outline btn-primary" onclick="fn_signPath()">결재경로</button>
            </div>
        </div>
        <div class="row">
            <form id="form1" name="form1" role="form" action="signDocSave" method="post" >
                <div class="form-group">
                    <label for="docTitle">문서 제목</label>
                    <input type="text" class="form-control" id="docTitle" placeholder="제목을 입력하세요">
                </div>
                <div class="form-group">
                    <label for="docContent">내용</label>
                    <input type="text" class="form-control" id="docContent" placeholder="내용을 입력하세요">
                </div>
            </form>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
            let approvalDocInfo = /*[[${approvalDocInfo}]]*/;
            let approvalList = /*[[${approvalList}]]*/;
        /*]]>*/
    </script>
</body>
</html>